/* ==========================================================================
   DARK THEME
   ========================================================================== */

/* Color codes used for the theme */
$dk-gray                       : #7a8288;
$dk-dark-gray                  : mix(#000, $dk-gray, 40%);
$dk-darker-gray                : mix(#000, $dk-gray, 60%);
$dk-light-gray                 : mix(#fff, $dk-gray, 50%);

$dk-background                 : #474747;
$dk-background-light           : mix(#fff, $dk-background, 80%);
$dk-background-lighter         : mix(#fff, $dk-background, 90%);
$dk-text                       : #ffffff;
$dk-link                       : #0ea1c5;
$dk-link-dark                  : mix(#000, $dk-link, 25%);
$dk-link-light                 : mix(#fff, $dk-link, 25%);

/* Color codes used for the site */
$dk-danger-color               : #ee5f5b;
$dk-info-color                 : #2f7f93;
$dk-notice-color               : #7a8288;
$dk-success-color              : #62c462;
$dk-warning-color              : #f89406;

/* Other basic settings for the template */
$dk-border-radius              : 4px;
$dk-box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$dk-global-transition          : all 0.2s ease-in-out;
$dk-masthead-height            : 70px;
$dk-navicon-width              : 28px;
$dk-navicon-height             : 4px;
$dk-sidebar-link-max-width     : 250px;
$dk-sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$dk-background};
    --global-bg-color                   : #{$dk-background};
    --global-footer-bg-color            : #{$dk-background};
    --global-border-color               : #{$dk-light-gray};
    --global-dark-border-color          : #{$dk-background-light};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$dk-darker-gray};
    --global-fig-caption-color          : #{$dk-light-gray};
    --global-link-color                 : #{$dk-link};
    --global-link-color-hover           : #{$dk-link-dark};
    --global-link-color-visited         : #{$dk-link-light};
    --global-masthead-link-color        : #{$dk-text};
    --global-masthead-link-color-hover  : #{$dk-background-light};
    --global-text-color                 : #{$dk-text};
    --global-text-color-light           : #{$dk-light-gray};
    --global-thead-color                : #{$dk-background-lighter};
}